.dashboard-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  background-color: #f0f0f0;
}

.cardPerson {
  width: calc(25%);
  background-color: white !important;
  padding: 1em;
  border-radius: 0.2em;

  box-shadow: 0.5em rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Centra verticalmente el contenido */
  text-align: center; /* Centra horizontalmente el texto */
  line-height: 1.5; /* Altura de línea para permitir saltos */
}

.sapacLogo {
  max-width: 50%;
  max-height: 50%;
  padding-bottom: 2em;
}

.cardTable {
  background-color: white !important;
  border-radius: 0.2em;
  box-shadow: 0.5em rgba(0, 0, 0, 0.1);

  width: 100% !important;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.button {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.left-button {
  background-color: #007bff;
  color: #fff;
}

.left-button.disabled {
  background-color: #ccc;
  pointer-events: none;
}

.left-button.disabled:hover {
  background-color: #ccc;
  cursor: not-allowed;
}

.right-button {
  background-color: #28a745;
  color: #fff;
}

.label {
  font-weight: bold;
  color: #333;
}

.label-id {
  font-weight: bold;
  color: #333;
  font-size: 0.35em;
  line-height: 1; /* Ajusta la altura de línea a 1 para evitar espacio adicional */
}

.employee-id {
  font-size: 4em;
  color: #555;
}

.employee-name,
.employee-address,
.employee-kind {
  font-size: 1.1em;
  color: #555;
}

.schedule-time {
  font-size: 1.2em;
  color: #555;
}

.gray-button {
  background-color: #ccc;
  color: #666;
  cursor: not-allowed;
}

.gray-button:hover {
  background-color: #ccc;
  color: #666;
  pointer-events: none; /* Deshabilita el hover */
}

body {
  background-color: #f0f0f0;
}
