.navbar th,
.navbar td {
  padding: 0.5em 1em;
  color: rgb(0, 0, 0);
  text-align: center; /*border: 1px solid rgb(0, 0, 0); /* Define el grosor, color y estilo de las líneas */
  border-bottom: 0.3px solid #dddddd;
  /*width: 10vw;*/
}

.navbar th {
}

.cont {
  line-height: 0.8em;
  width: 100%;
}

/* Ajusta el ancho del encabezado de la tabla para tener en cuenta la barra de desplazamiento */
.cont thead {
}

.cont tbody {
  overflow: overlay;
}

.periodo {
  display: flex;
  justify-content: space-between;
  background-color: #3498db;
  border-radius: 0.2em;

  text-align: center;
  font-size: 1.5rem;
  padding: 1em;
  color: #fff;
}

.deleteButton {
  padding-right: 1em;
  cursor: pointer;
}

.button {
  color: #fff;
  background-color: #1368c5;
  border: 2px solid #1368c5;
  padding: 0.5em 1em;
  transition:
    background-color 0.3s,
    color 0.3s;
}

.button:hover {
  background-color: #113052;
  border-color: #113052;
}

.cont tbody tr:nth-child(even) {
  background-color: #f2f2f2; /* Cambia el color de fondo de las filas pares a blanco */
}

.cont p {
  padding: 0.4em;
  border-radius: 4px;
  color: #fafafa;
}
