.file-drop {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: dashed;
  width: 350px;
  height: 350px;
  transition:
    border-color 0.3s,
    background-color 0.3s,
    opacity 0.3s;
}

.file-drop.file-drop-dragging-over {
  border-color: var(--surface-main-blue);
  background-color: var(--text-inverse);
  opacity: 0.8;
}

.subir-a-la-nube {
  width: 4em;
  height: 4em;
  opacity: 0.5;
  margin-bottom: 1rem;
}

.button-select-file {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  background-color: var(--button-alternative);
  color: white;
  font-weight: 700;
  padding: 0.5rem 2rem;
  border-radius: 0.25rem;
}

.button-select-file:hover {
  background-color: #1e3a8a;
}

.card-bg {
  background-color: var(--surface-main-blue);
}
