.file-uploaded-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  border: solid;
  border-color: var(--text-primary);
  width: 350px;
  height: 350px;
  border-radius: 2%;
}

.file-uploaded {
  width: 4em;
  height: 4em;
  opacity: 0.5;
}

.btn-file-uploaded {
  text-align: center;
  margin-top: 2rem;
  background-color: var(--i-red);
  color: white;
  font-weight: 700;
  padding: 0.5rem 2rem;
  border-radius: 0.25rem;
  width: 12rem;
}

.btn-file-uploaded:hover {
  background-color: #b91c1c;
}
