@import '../utils/colors.css';

.select-container {
  display: flex;
  justify-content: center;
}

.select-label {
  display: flex;
  align-items: center;
  margin: 0.5rem;
}

.select-input {
  border: 0.1rem solid #ccc;
  border-radius: 4px;
  font-size: 1em;
  background-color: white;
  transition: all 0.3s ease;
  padding-left: 0.7rem;

}

.select-input:hover {
  border-color: #007bff;
}

.select-input:focus {
  border-color: var(--button-hover);
  outline: none;
}
